<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IWCFTransporte">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://msftransportes.azurewebsites.net/WCFTransporte.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWCFTransporte"
                contract="WCFTransporte.IWCFTransporte" name="WSHttpBinding_IWCFTransporte" />
        </client>
    </system.serviceModel>
</configuration>